npm-debug.log
node_modules
.npmrc
tmp
test/assets/openssl/certs/
test/assets/openssl/index.txt
test/assets/openssl/index.txt.attr
test/assets/openssl/index.txt.attr.old
test/assets/openssl/index.txt.old
test/assets/openssl/newcerts/
test/assets/openssl/pkcs10/
test/assets/openssl/private/
test/assets/openssl/serial
test/assets/openssl/serial.old
